<!DOCTYPE html>
<html>
<head>
    <title>EvilCorp HQ</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="Scripts/jquery-1.6.4.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,400,900,300,700' rel='stylesheet' type='text/css'>
    <script src="Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="Scripts/angular-signalr-hub.min.js"></script>
    <script src="Scripts/moment.min.js"></script>
    <script src="app.js"></script>
    <script src="Scripts/ocanvas-2.8.3.min.js" type="text/javascript"></script>
    <link href="bootstrap.theme.css" type="text/css" rel="stylesheet">
    <link href="style.css" type="text/css" rel="stylesheet">
</head>
<body ng-app="evilApp" ng-controller="DashboardController">

    <div class="container-fluid full">

        <div class="row">
            <div class="col-lg-12 header">
                <img src="Content/logo.png" class="logo"/>
                <span class="partition">&nbsp;</span>
                <h1>Central Intelligence Dashboard</h1>
            </div>
        </div>

        <div class="row full">

            <div class="col-lg-2 beacon">

                <div class="beacon-header"> {{ friendlyName(locations[0].id) }}</div>
                <!--<div class="beacon-sub-header"> {{ locationPeopleCount[0] }} Person<span ng-show="locationPeopleCount[0] != 1">s</span> present </div>-->
                <div class="beacon-sub-header">
                    <div class="numeric-large">{{ locationPeopleCount[0] }}</div>
                    <div class="label-large">
                        Person<span ng-show="locationPeopleCount[0] != 1">s</span> present
                    </div>
                </div>
                <!--<div class="beacon-sub-header">
                    Min: {{ locationMinMax[0].min }} &nbsp;&nbsp;&nbsp;&nbsp;
                    Max: {{ locationMinMax[0].max }} &nbsp;&nbsp;&nbsp;&nbsp;
                    Range: {{ locationMinMax[0].range }}
                </div>-->

                <div class="person" ng-repeat="(key, value) in locations[0].users" ng-class="{ 'selected': value.id === selectedId }">
                    <div class="id" ng-click="select(value.id)">
                        <span ng-show="users[value.id].name !== ''">{{ users[value.id].name }}</span>
                        <span ng-show="users[value.id].name === ''">{{ value.id }}</span>
                        <span class="align-right" ng-class="{ 'red': strengthRank(0, value.signalStrength) == 0, 'yellow': strengthRank(0, value.signalStrength) == 1, 'green': strengthRank(0, value.signalStrength) == 2 }">{{ value.signalStrength }}</span>
                    </div>
                </div>

            </div>

            <div class="col-lg-2 beacon">

                <div class="beacon-header"> {{ friendlyName(locations[1].id) }} </div>
                <!--<div class="beacon-sub-header"> {{ locationPeopleCount[1] }} Person<span ng-show="locationPeopleCount[1] != 1">s</span> present </div>-->
                <div class="beacon-sub-header">
                    <div class="numeric-large">{{ locationPeopleCount[1] }}</div>
                    <div class="label-large">
                        Person<span ng-show="locationPeopleCount[1] != 1">s</span> present
                    </div>
                </div>
                <!--<div class="beacon-sub-header">
                    Min: {{ locationMinMax[1].min }} &nbsp;&nbsp;&nbsp;&nbsp;
                    Max: {{ locationMinMax[1].max }} &nbsp;&nbsp;&nbsp;&nbsp;
                    Range: {{ locationMinMax[1].range }}
                </div>-->

                <div class="person" ng-repeat="(key, value) in locations[1].users" ng-class="{ 'selected': value.id === selectedId }">
                    <div class="id" ng-click="select(value.id)">
                        <span ng-show="users[value.id].name !== ''">{{ users[value.id].name }}</span>
                        <span ng-show="users[value.id].name === ''">{{ value.id }}</span>
                        <span class="align-right" ng-class="{ 'red': strengthRank(1, value.signalStrength) == 0, 'yellow': strengthRank(1, value.signalStrength) == 1, 'green': strengthRank(1, value.signalStrength) == 2 }">{{ value.signalStrength }}</span>
                    </div>
                </div>

            </div>

            <div class="col-lg-2 beacon">

                <div class="beacon-header"> {{ friendlyName(locations[2].id) }} </div>
                <!--<div class="beacon-sub-header"> {{ locationPeopleCount[2] }} Person<span ng-show="locationPeopleCount[2] != 1">s</span> present</div>-->
                <div class="beacon-sub-header">
                    <div class="numeric-large">{{ locationPeopleCount[2] }}</div>
                    <div class="label-large">
                        Person<span ng-show="locationPeopleCount[2] != 1">s</span> present
                    </div>
                </div>
                <!--<div class="beacon-sub-header">
                    Min: {{ locationMinMax[2].min }} &nbsp;&nbsp;&nbsp;&nbsp;
                    Max: {{ locationMinMax[2].max }} &nbsp;&nbsp;&nbsp;&nbsp;
                    Range: {{ locationMinMax[2].range }}
                </div>-->

                <div class="person" ng-repeat="(key, value) in locations[2].users" ng-class="{ 'selected': value.id === selectedId }">
                    <div class="id" ng-click="select(value.id)">
                        <span ng-show="users[value.id].name !== ''">{{ users[value.id].name }}</span>
                        <span ng-show="users[value.id].name === ''">{{ value.id }}</span>
                        <span class="align-right" ng-class="{ 'red': strengthRank(2, value.signalStrength) == 0, 'yellow': strengthRank(2, value.signalStrength) == 1, 'green': strengthRank(2, value.signalStrength) == 2 }">{{ value.signalStrength }}</span>
                    </div>
                </div>

            </div>

            <div class="col-lg-6">
                <div class="tracker" ng-show="selectedId">

                    <div class="beacon-header"> Person Tracker </div>
                    <canvas id="trackermap" height="500" width="500"></canvas>

                </div>

                <div class="profile" ng-show="selectedId">

                    <div class="beacon-header"> Profile </div>

                    <!--<div class="beacon-sub-header name">
                        <div ng-show="users[selectedId].name !== ''" class="label-large">Name: {{ users[selectedId].name }}</div>
                        <div ng-show="users[selectedId].name === ''" class="label-large">ID: {{ users[selectedId].id }}</div>
                    </div>-->

                    <div class="beacon-sub-header">
                        <div ng-show="users[selectedId].name !== ''" class="numeric-slarge">{{ users[selectedId].name }}</div>
                        <div ng-show="users[selectedId].name === ''" class="numeric-slarge">{{ users[selectedId].id }}</div>
                        <div class="label-large">
                            <div ng-show="users[selectedId].name !== ''">Name</div>
                            <div ng-show="users[selectedId].name === ''">ID / MAC</div>
                        </div>
                    </div>

                    <div class="beacon-sub-header">
                        Known SSIDs
                    </div>

                    <div class="person" ng-if="s !== ''" ng-repeat="s in users[selectedId].ssid">
                        <div class="id">
                            {{ s }}
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

</body>
</html>
