html, body { height: 100%; background: #000; font-family: 'Roboto', sans-serif; }
.full { height: 100%; }

.header { background: #111; padding: 0 20px; height: 100px; line-height: 100px; }
.header img.logo { width: 60px; margin-left: 10px; }
.header h1 { display: inline; clear: none; position: relative; top: 6px; font-family: 'Roboto', sans-serif; font-weight: 100; color: #fff; font-size: 26px; }

.partition { height: 60px; line-height: 60px; display: inline-block; margin: 0 20px 0 28px; border-left: solid 1px #333; }

.beacon { height: 100%;background: #000; border-right: solid 1px #333; }
.beacon-header {  background: #111 url("/content/header-bg.png"); margin-bottom: 3px;  padding: 20px; color: #fff;font-size: 16px; font-weight: 900;margin-top: 20px; text-transform: uppercase; }
.beacon-sub-header { background: #111;margin-bottom: 3px;  padding: 20px; color: #fff; font-weight: 700; }
    
.person { width: 100%;background: #333; cursor: pointer; margin-bottom: 3px; padding: 0 0 0 20px; font-size: 11px; height: 22px; line-height: 22px; color: #fff; }
    .person .id { font-weight: 700; }
    .person.selected { background: #0076e4; }

.tracker { width: 500px;float: left; }
#trackermap { background: #111; }

.profile { width: 300px;float: left; margin-left: 20px;}

.align-right { float: right; }

.numeric-large { font-size: 36px; }
.numeric-slarge { font-size: 26px; }

.label-large { opacity: 0.4; }
    .beacon-sub-header.name .label-large { opacity: 1; }

.red { background: #e50000; padding: 0 20px; }
.yellow { background: #f3f52b; padding: 0 20px;color: #000; }
.green { background: #96d402; padding: 0 20px;color: #000; }