<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <applicationSettings>
    <EvilCorp.SignalHub.Properties.Settings>
      <setting name="ApiKey" serializeAs="String">
        <value>AIzaSyCuwgsAMonXU2wYAjz-s2hFs8Z2c692fnY</value>
      </setting>
      <setting name="InputAppUrlFormat" serializeAs="String">
        <value>https://hansarnevartdal.github.io/evil-app/#/?connectionId={0}</value>
      </setting>
    </EvilCorp.SignalHub.Properties.Settings>
  </applicationSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>